

.heart{
  padding: 0px;
  width: 2300px;
  height: 170px;
  font-size: 30px;
}
nav {
  position: absolute;
  padding-top: 200px;
  height: 170px;
  width: 100%;

}
.item-nav{
  text-align: left;
  
}
.nav-link {
  margin: 20px;
  width: 190px;
  height: 180px;
  margin-top: 100px;
}
.container {
  
  text-align: left;
  margin-top: 200px;
  margin: 100px;
  width: 100%;

}
.slide-container {
  height: 600px;
  padding: 40px;
  width: 2300px;
  
}
.slide-container img {
  width:100%;
  height: 600px;
  
}
.fooder {
  color: #fcfafa;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170px;
  background-color: #8b6b2a;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.353);
  z-index: 100;
}
.react-slideshow-fadezoom-wrapper {
  width: 100%;
  height: 600px;
}
.content{
  position: absolute;
  height: 2950px;

}
.product{
  width: 100%;
  position: absolute;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột bằng nhau */
  gap: 20px;
  padding: 15px;
  
}
.product-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 30px;
  background-color: #b0aba0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  break-inside: avoid-column;
  width: 500px;
  margin: 20px;
  
  
}
.product-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}
.row{
  width: 500px;
  text-align: right;
}
.link-dom{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  
  
}
